[Unit]
Description=palserver boot script

[Service]
ExecStart=nohup /usr/bin/python3 -u main.py &
WorkingDirectory=/home/mhd329
Restart=always

[Install]
WantedBy=default.target
