<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pricezone</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div>
        컴퓨존에서 판매중인 컴퓨터의 가격 검색 서비스 입니다.
      </div>
      <div>
        <button id="simpleExploringButton" type="button" class="btn btn-primary">바로 탐색하기</button>
      </div>
      <div>
        <p class="d-inline-flex gap-1">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#setExploringCollapse" aria-expanded="false" aria-controls="setExploringCollapse">
            탐색 범위 설정
          </button>
        </p>
        <form id="exploringForm" class="" action="">
          <div class="collapse" id="setExploringCollapse">
            <div class="card card-body">
              <label for="exploringRangeBar" class="form-label">탐색 범위 설정</label>
              <input type="range" class="form-range" min="1" max="200" step="1" value="1" id="exploringRangeBar">
              <p id="expRangeIndicator"></p>
              <div>
                <button type="submit" class="btn btn-primary mb-3">탐색 시작</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div id="exploringResults">
        <p class="exploring-results">탐색 결과(테스트)</p>
        <div id="results"></div>
      </div>
    </div>
    <!-- bootstrap cdn -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- 탐색 범위 설정값 변동 표시 스크립트 -->
    <script src="../static/js/exploringRangeIndicator.js"></script>
    <!-- 탐색 버튼 클릭시 작동 스크립트 -->
    <script src="../static/js/exploring.js"></script>
  </body>
</html>
